<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<body>
	<h1>Olá. Thymeleaf configurado!</h1>
	<form method="POST" th:object="${beer}">
		<div th:each="error : ${#fields.detailedErrors()}">
			<span th:text="${error.message}"></span>
		</div>
		<span th:text="${message}"></span>
		<br>
		
		<label for="sku">SKU</label>
		<input type="text" id="sku" th:field=*{sku}></input>
		<br/>
		<label for="name">Nome</label>
		<input type="text" id="name" th:field=*{name}></input>
		<br/>
		<label for="description">Descrição</label>
		<textarea rows="3" cols="30" id="description" th:field=*{description}></textarea>
		<br/>

		<br/>
		<input type="submit" value="Salvar"></input>
	</form>
</body>

</html>